<table class="table">
    <div class="text-center">
        <h1 class="text-black center">Professores Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Maria</td>
            <td>31</td>
            <td>001</td>
        </tr>
        <tr>
            <td>João</td>
            <td>27</td>
            <td>002</td>
        </tr>
        <tr>
            <td>Elisa</td>
            <td>29</td>
            <td>003</td>
        </tr>
    </tbody>
</table>