<table class="table">
    <div class="text-center">
        <h1 class="display-4">Alunos Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Permissões</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kaiane</td>
            <td>16</td>
            <td>Divulgar qualquer conteudo de Taylor Swift</td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>17</td>
            <td>Divulgar qualquer conteudo de Pedro Pascal</td>
        </tr>
        <tr>
            <td>Heitor</td>
            <td>17</td>
            <td>Divulgar qualquer conteudo de Olivia Rodrigo</td>
        </tr>
        <tr>
            <td>Uriel</td>
            <td>18</td>
            <td>Divulgar qualquer conteudo de Veganismo</td>
        </tr>
        <tr>
            <td>Vinicius</td>
            <td>17</td>
            <td>Divulgar qualquer conteudo de Vida não saudável</td>
        </tr>
        <tr>
            <td>Lucas</td>
            <td>15</td>
            <td>Divulgar qualquer conteudo de Musica</td>
        </tr>
        <tr>
            <td>Livia</td>
            <td>17</td>
            <td>Divulgar qualquer conteudo de The Weekend</td>
        </tr>
        <tr>
            <td>Gabriel</td>
            <td>17</td>
            <td>Divulgar qualquer conteudo de Jogos</td>
        </tr>
    </tbody>
</table>