<table class="table">
    <div class="text-center">
        <h1 class="display-4">Alunos Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kaiane</td>
            <td>16</td>
            <td>001</td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>17</td>
            <td>002</td>
        </tr>
        <tr>
            <td>Heitor</td>
            <td>17</td>
            <td>004</td>
        </tr>
        <tr>
            <td>Uriel</td>
            <td>18</td>
            <td>005</td>
        </tr>
        <tr>
            <td>Vinicius</td>
            <td>17</td>
            <td>006</td>
        </tr>
        <tr>
            <td>Lucas</td>
            <td>15</td>
            <td>007</td>
        </tr>
         <tr>
            <td>Livia</td>
            <td>17</td>
            <td>008</td>
        </tr>
        <tr>
            <td>Gabriel</td>
            <td>17</td>
            <td>009</td>
        </tr>
    </tbody>
</table>