@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Aluno!!</h1>
    <p> Ao se juntar a esta comunidade você concorda com os termos de uso estabelecidos pela Kaiane.</p>
    <p> Para saber mais clique <a href="https://getbootstrap.com/docs/5.3/content/tables/">aqui</a>.</p>
    
</div>

@*<div class="text-center">
<main class="main">
    <div class="credit">
        Primeiro link <a href="https://getbootstrap.com/docs/5.3/content/tables/">aqui</a> segundo link <a href="https://getbootstrap.com/docs/5.3/content/tables/">aqui</a>
    </div>
</main>*@

    <div class="text-center">
        <main class="segundo">
            <div class="credit">
            <p>Primeiro link <a href="https://getbootstrap.com/docs/5.3/content/tables/">aqui.</a> </p>
            <p>Segundo link <a href="https://getbootstrap.com/docs/5.3/content/tables/">aqui.</a></p>
        </div>
        </main>
