@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Familia Mecânica!!</h1>
    <p> Ao se juntar a esta comunidade você concorda com os termos de uso estabelecidos pela Kaiane.</p>
    <p> Para saber mais clique <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">aqui</a>.</p>
    
</div>
