<table class="table">
    <div class="text-center">
<h1 class="display-4">Professores Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jairo</td>
            <td>??</td>
            <td>001</td>
        </tr>
        <tr>
            <td>Djon</td>
            <td>??</td>
            <td>002</td>
        </tr>
        <tr>
            <td>Elidio</td>
            <td>??</td>
            <td>004</td>
        </tr>
    </tbody>
</table>