html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../img/aluno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.credit {
    background: rgba(0, 0, 0, 0.75);
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}

.credit a {
    color:turquoise;
    transition: 1s;
}

.credit a:hover {
    color:white;
    text-shadow: 0 0 8px white;
}

.table {
    background: rgb(99, 75, 222,0.75);
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}

.segundo {
    background: rgb(80, 38, 224, 0.75);
    font-size: 1.3em;
    color: purple;
    padding: 1em;
    border-radius: 0.5em;
}

    .segundo a {
        color: mediumpurple;
        transition: 1s;
    }

        .segundo a:hover {
            color: yellow;
            text-shadow: 0 0 8px yellow;
        }