<table class="table">
    <div class="text-center">
        <h1 class="display-4">Alunos Registrados</h1>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matricula</th>
            <th scope="col">CEP</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kaiane</td>
            <td>16</td>
            <td>001</td>
            <td>88350682</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-682"> Endereco</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Sarah</td>
            <td>17</td>
            <td>002</td>
            <td>88350610</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-610"> Endereco</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Heitor</td>
            <td>17</td>
            <td>004</td>
            <td>88350620</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-620"> Endereco</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Uriel</td>
            <td>18</td>
            <td>005</td>
            <td>88350630</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-630"> Endereco</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>Vinicius</td>
            <td>17</td>
            <td>006</td>
            <td>88350640</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-640"> Endereco</a>
                </div>
        </tr>
        <tr>
            <td>Lucas</td>
            <td>15</td>
            <td>007</td>
            <td>88350650</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-650"> Endereco</a>
                </div>
        </tr>
         <tr>
            <td>Livia</td>
            <td>17</td>
            <td>008</td>
            <td>88350660</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-660"> Endereco</a>
                </div>
        </tr>
        <tr>
            <td>Gabriel</td>
            <td>17</td>
            <td>009</td>
            <td>88350670</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="88350-670"> Endereco</a>
                </div>
        </tr>
    </tbody>
</table>


<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-primary" role="button" type="button" asp-controller="Aluno" asp-action="Criar">Adicionar</a>
</div>


<div id="img-sla">
    <img src="~/img/roxo.jpg" alt="Roxo">
</div>
